.App {
  text-align: center;
}

div.CharContainer {
  max-width: 320px;
  margin: auto;
  text-align: left;
}

div.App > input {
  border: 1px solid #ccc;
  padding: 12px;
  boxShadow: 1px 1px 3px 0px rgba(0,0,0,0.15);
  margin: 17px;
}
